@model app.Infra.Models.Manage.UserAccountResetPasswordViewModel
<form asp-controller="Manage" asp-action="ResetPasswordPartial"
      data-ajax="true" data-ajax-method="POST"
      data-ajax-mode="replace" data-ajax-update="#my-modal-form-container"
      data-ajax-begin="return blockOnFormSubmit()"
      data-ajax-complete="return unblockOnFormComplete()"
      class="form-horizontal form-label-left">

    <div class="row">
        <div class="col-lg-12">

            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-lg-12">

                    @if ((ViewBag.HttpMethod == "POST") && (ViewData.ModelState.Any(x => x.Value.Errors.Any())))
                    {
                        <div class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert">×</a>
                            <h4>Validation Errors</h4>
                            @Html.ValidationSummary()
                        </div>
                    }

                </div>
            </div>

            @Html.HiddenFor(model => model.UserId)

            <div class="form-group">
                <label>Username :</label>
                @Html.TextBoxFor(o => o.Username,
                    new { @class = "form-control", @readonly = "readonly" })
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>New Password :</label>
                        @Html.PasswordFor(o => o.Password,
                            new { @class = "form-control", placeholder = "Enter New Password" })
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Confirm Password :</label>
                        @Html.PasswordFor(o => o.ConfirmPassword,
                            new { @class = "form-control", placeholder = "Confirm New Password" })
                    </div>

                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="pull-right">
                        <input type="submit" class="btn btn-outline btn-primary" value="Reset" />
                    </div>
                </div>
            </div>

        </div>
    </div>

</form>




