
@model List<app.Infra.Models.Manage.UserAccountDetailsViewModel>

<div class="row">
    <div class="col-lg-12">
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover" id="dataTable">
                <thead>
                    <tr>
                        <th class="col-lg-2"> Username </th>
                        <th class="col-lg-1"> Status </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        var row = Model[i];
                        <tr class="@(i % 2 != 0 ? "odd" : "even")">
                            <td>
                                @Html.HiddenFor(o => row.UserId)
                                @Html.HiddenFor(o => row.Username)
                                @row.Username
                            </td>
                            <td>
                                @(row.IsActive == true ? "Active" : "Inactive")
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {

        // Datatable initialization
        var table = $('#dataTable').DataTable({
            buttons: ['copy']
        });

        // Datatable buttons setup
        table
            .buttons()
            .container()
            .appendTo('#table-control-panel');

        // Click event on table row
        $('#dataTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

    });

</script>